Repository gajawadaamaresh18/Auto-trading-: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, backend-tests

frontend-tests:
  name: Frontend Tests
  entry: bash -c 'cd frontend && npm test -- --passWithNoTests --watchAll=false'
  language: system
  pass_filenames: false

backend-tests:
  name: Backend Tests
  entry: bash -c 'cd backend && python -m pytest tests/ -v --tb=short'
  language: system
  pass_filenames: false

fix: resolve GitHub Actions workflow env variable errors
  .github/workflows/ci-cd.yml
Due: none

fix: resolve CI/CD workflow failures - npm peer deps, linting, CodeQL v3, migration tests
  .github/workflows/ci-cd.yml
Due: none

fix: resolve frontend linting, backend module import, and CodeQL permissions issues
  .github/workflows/ci-cd.yml
  backend/setup.py
Due: backend-tests

fix: resolve frontend runtime errors, backend unit tests, and Bandit security issues
  .github/workflows/ci-cd.yml
  backend/app/core/security.py
  backend/tests/conftest.py
  frontend/src/__tests__/setup.ts
Due: frontend-tests, backend-tests

fix: resolve all CI/CD workflow failures
  .github/workflows/ci-cd.yml
  check_workflow_status.ps1
  frontend/src/screens/marketplace/MarketplaceScreen.tsx
Due: frontend-tests

fix: resolve all remaining CI/CD workflow failures
  .github/workflows/ci-cd.yml
Due: none

feat: update Expo token setup and remove Slack webhook
  .github/workflows/ci-cd.yml
  GITHUB_SECRETS_SETUP.md
Due: none

fix: use official Expo and Docker GitHub Actions
  .github/workflows/ci-cd.yml
Due: none

fix: resolve workflow failures for frontend build and EAS build
  .github/workflows/ci-cd.yml
Due: none

fix: add Dockerfiles and fix Docker build step
  .github/workflows/ci-cd.yml
  backend/.dockerignore
  backend/Dockerfile
  frontend/.dockerignore
  frontend/Dockerfile
Due: frontend-tests, backend-tests

docs: add next steps guide after successful CI/CD pipeline
  NEXT_STEPS.md
Due: none

fix: improve EAS build error handling and troubleshooting
  .github/workflows/ci-cd.yml
  EAS_BUILD_TROUBLESHOOTING.md
Due: none

fix: add Expo project linking and authentication verification
  .github/workflows/ci-cd.yml
Due: none

Improve EAS project linking and build configuration
  .github/workflows/ci-cd.yml
  frontend/LINK_PROJECT.md
  frontend/eas.json
Due: frontend-tests

Remove duplicate .eas.json file (using eas.json instead)
  frontend/.eas.json
Due: frontend-tests

Fix EAS build workflow - remove unnecessary configure step and improve error handling
  .github/workflows/ci-cd.yml
Due: none

Add project creation via Expo API before build
  .github/workflows/ci-cd.yml
Due: none

Fix project creation via Expo GraphQL API
  .github/workflows/ci-cd.yml
Due: none

Simplify project creation step and provide clear instructions
  .github/workflows/ci-cd.yml
Due: none

Add improved error messages for project initialization in build step
  .github/workflows/ci-cd.yml
Due: none

Link Expo project and update slug to match created project
  .github/workflows/ci-cd.yml
  frontend/app.json
Due: frontend-tests

Add Android credentials setup step and improve error handling
  .github/workflows/ci-cd.yml
Due: none

Path conditions:
  frontend-tests: any of: ^frontend/
  backend-tests: any of: ^backend/
